{% extends 'base.html' %}
{% block content %}
<section class="weather-form">
    <h2>Find your weather!</h1>

    <form action="/results" method="GET">
        <fieldset>
            <p>
                <label>
                    Please enter your city: <br>
                    <input type="text" name="city">
                </label>
            </p>

            <!-- <p>
                Please choose your desired units: <br>
                <label>
                    <input type="radio" name="units" value="metric">
                    Celsius
                </label><br>
                <label>
                    <input type="radio" name="units" value="imperial">
                    Fahrenheit
                </label><br>
            </p>
             -->
            <p>
                <input type="submit" id="submit" value="Submit">
            </p>
        </fieldset>
    </form>
</section>
{% endblock content %}